<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Flask ChatBot</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<h1>Flask ChatBot</h1>
		<div id="container">
			<div id="chatbox">
				<p class="botText"><span>Hi! I'm Chatterbot.</span></p>
				<p class="botText"><span>Please Ask.</span></p>
			</div>
			<div id="userInput">
				<input id="textInput" type="text" name="msg" placeholder="Message">
				<button id="buttonInput" type="submit"><i class="fa fa-send"></i></button>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='chat.js') }}"></script>
	</body>
</html>
